# Ignore Python bytecode and cache
__pycache__/
*.pyc

# Ignore virtual environments
.venv/
venv/

.DS_Store
ender3test.ipynb
pyfirmata_test.py
test.ipynb
gripper_hardwaretest.py
ArduinoHardwareTest.py
/localproject
/AdaptiveXRD