<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <title>
        AISH XRD
    </title>

    <style>
        .running-box {
            border: 2px dashed #04d134;
            /* Green dashed border for running item */
            padding: 10px;
            margin-bottom: 10px;
            background-color: rgba(157, 231, 198, 0.231)
                /* Light background */
        }

        .item-name {
            font-size: 1.25rem;
            /* Larger font for item name */
            font-weight: bold;
            /* Bold font for item name */
        }

        .item-details {
            font-size: 0.9rem;
            /* Smaller font for details */
            color: #6c757d;
            /* Bootstrap muted color */
        }
    </style>

    <!-- Load jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
     <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- SortableJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    
    <!-- Load utils -->
    <script src ="/static/js/utils.js"></script>
</head>

<body>
    <!-- Title bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand">AISH Loader Control</a>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mt-5">
        <div class="row">

            <!-- Left: Queue Display -->
            <div class="col-md-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <h3 class="card-title">Queue</h3>
                            </div>

                            <!-- Queue control buttons (start, pause, abort) -->
                            <div class="col-md-7 text-end">
                                <button id="queue-start-button" class="btn btn-success mb-3" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" title="Start running the queue">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-play-fill" viewBox="0 0 16 16">
                                        <path
                                            d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393" />
                                    </svg>
                                </button>

                                <button id="queue-pause-button" class="btn btn-warning mb-3" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" title="Pause queue after current">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-pause-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5m5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5" />
                                    </svg>
                                </button>

                                <button id="queue-stop-button" class="btn btn-danger mb-3" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" title="Abort current and pause (MUST MANUALLY UNLOAD)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-stop-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M5 3.5h6A1.5 1.5 0 0 1 12.5 5v6a1.5 1.5 0 0 1-1.5 1.5H5A1.5 1.5 0 0 1 3.5 11V5A1.5 1.5 0 0 1 5 3.5" />
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <!-- Currently running box -->
                        <div class="running-box" id="currently-running">
                            <h4>Currently Running</h4>
                            <div id="running-item" class="list-group">
                                <!-- Currently running item will be displayed here -->
                            </div>
                        </div>

                        <!-- Queue list -->
                        <ul class="list-group" id="queue-list">
                            <!-- Queue items will be dynamically added here -->
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Right: Menu to Add Items -->
            <div class="col-md-6">
                <h3>Add to Queue</h3>

                <form id="queue-form">
                    <!-- Item Name -->
                    <div class="mb-3">
                        <label for="item-name" class="form-label">Item Name</label>
                        <input type="text" class="form-control" id="item-name" placeholder="Enter item name" required>
                    </div>

                    <!-- Sample Number -->
                    <div class="mb-3">
                        <label for="sample-number" class="form-label">Sample Position Number</label>
                        <div id="sample-number-container" class="container">
                            <!-- Radio buttons will be dynamically generated here -->
                        </div>
                    </div>
                    <script>
                        // Function to generate radio buttons dynamically
                        generateRadioButtons(document.getElementById('sample-number-container'), 2, 5);
                    </script>
                    
                    <!-- XRD Parameters -->
                    <div class="mb-3">
                        <label class="form-label"><b>XRD Parameters</b></label><br>

                        <!-- 2θ Range and Precision Input Section -->
                        <div class="mb-3">
                            <div class="row">
                                <!-- Min angle -->
                                <div class="col-md-4">
                                    <label for="min-angle" class="form-label">Min 2θ</label>
                                    <input type="number" class="form-control" id="min-angle" placeholder="Min 2θ" value=10 min=5 max=120 step="0.01">
                                </div>

                                <!-- Max angle -->
                                <div class="col-md-4">
                                    <label for="max-angle" class="form-label">Max 2θ</label>
                                    <input type="number" class="form-control" id="max-angle" placeholder="Max 2θ" value=60 min=5 max=120 step="0.01">
                                </div>

                                <!-- Precision Selection -->
                                <div class="col-md-4">
                                    <label class="form-label">Precision</label>
                                    <select class="form-select" id="precision-select">
                                        <option value="Low">Low</option>
                                        <option value="High">High</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Enable Temperature Section (Checkbox) -->
                        <div class="mb-3">
                            <input type="checkbox" id="enable-temperature" name="enable-temperature" value="yes">
                            <label for="enable-temperature" class="form-label" style="user-select: none;">Enable Heating</label>
                        </div>

                        <!-- Temperature Inputs (Hidden by default) -->
                        <div id="temperature-inputs" style="display:none;">
                            <!-- Row for Min temperature, Max temperature, and Number of Scans -->
                            <div class="row">
                                <!-- Min Temperature -->
                                <div class="col-md-4">
                                    <label for="min-temperature" class="form-label">Min Temperature (°C)</label>
                                    <input type="number" class="form-control" value=25 min=25 max=1100 id="min-temperature" placeholder="Min T">
                                </div>

                                <!-- Max Temperature -->
                                <div class="col-md-4">
                                    <label for="max-temperature" class="form-label">Max Temperature (°C)</label>
                                    <input type="number" class="form-control" min=25 max=1100 id="max-temperature" placeholder="Max T">
                                </div>

                                <!-- Number of Scans -->
                                <div class="col-md-4">
                                    <label for="number-of-scans" class="form-label">Number of Scans</label>
                                    <input type="number" class="form-control" value=200 id="number-of-scans" placeholder="# scans">
                                </div>
                            </div>

                           <!-- Row for Estimated Procedure Time -->
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <span id="estimated-time" style="display:inline;"></span> <!-- Displayed as inline text -->
                                </div>
                            </div>

                            <!-- Row for Time Breakdown (Hidden by default) -->
                            <div class="row mt-3" id="time-breakdown" style="display:none;">
                                <div class="col-md-12">
                                    <div style="font-size: 14px; font-weight: normal; line-height: 1.5;">
                                        <div><strong>Breakdown:</strong></div>
                                        <div id="scan-breakdown"></div>
                                        <div id="ramp-breakdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- Add to Queue Button -->
                    <button class="btn btn-primary">Add to Queue</button>
                </form>
            </div>
        </div>
    </div>

    
    <!-- Manual Control with a dropdown button to expand/collapse the card -->
    <div class="container mt-3">
        <div class="card">

            <!-- Card Header with dropdown button -->
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3>Manual Control</h3>
                <!-- Dropdown Button -->
                <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#manualControlContent" aria-expanded="false" aria-controls="manualControlContent">
                    Show/Hide
                </button>
            </div>
            
            <!-- Collapsible Content -->
            <div id="manualControlContent" class="collapse">
                <div class="card-body">
                    <!-- Automated Loading Control Card -->
                    <div class="card mb-3">
                        <div class="card-body">
                            <!-- Automated Loading Section -->
                            <h4>Automated Loading</h4>
                            <form id="manualControl-autoLoadForm">
                                <div class="row align-items-center">

                                    <!-- Load and Unload Buttons -->
                                    <div class="col-md-4">
                                        <div class="d-grid gap-2">
                                            <button class="btn btn-success w-75 mx-auto" id="manualControl-loadButton">Load</button>
                                            <button class="btn btn-danger w-75 mx-auto" id="manualControl-unloadButton">Unload</button>
                                        </div>
                                        
                                    </div>

                                    <!-- Radio Button Matrix for Sample position -->
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5>Sample Position</h5>
                                                <div class="form-check">
                                                    <div id="manualControl-samplePos" class="row">
                                                        <!-- Radio buttons will be generated here -->
                                                    </div>
                                                </div>
                                                <script>
                                                    // Function to generate radio buttons dynamically
                                                    generateRadioButtons(document.getElementById('manualControl-samplePos'), 2, 5);
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Load/unload buffer buttons -->
                                <div class="d-flex justify-content-between mt-3">
                                    <button class="btn btn-primary w-48" id="manualControl-loadBufferButton">Load Buffer</button>
                                    <button class="btn btn-secondary w-48" id="manualControl-unloadBufferButton">Done Loading Buffer</button>
                                </div>

                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Ender3 Control Card -->
                        <div class="col-md-6 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <h4>Ender3 Control</h4>

                                    <!-- Sample Position Number -->
                                    <div class="mb-3">
                                        <label for="sample-number" class="form-label">Sample Position Number</label>
                                        <div id="ender3-sampleNumber-container" class="container">
                                            <!-- Radio buttons will be dynamically generated here -->
                                        </div>
                                    </div>
                                    <script>
                                        // Generate sample number radio buttons
                                        generateRadioButtons(document.getElementById('ender3-sampleNumber-container'), 2, 5);
                                    </script>
            
                                    <!-- Move to Sample -->
                                    <button id="ender3-moveToSampleButton" class="btn btn-primary mb-3">Move to Sample</button>

                                    <!-- Gray Buttons (Move to Rest, Home, Stage, Eject Bed, Home Ender3) -->
                                    <div class="d-flex flex-wrap">
                                        <button id="ender3-moveToRestButton" class="btn btn-secondary mb-2 me-2">Move to Rest Position</button>
                                        <button id="ender3-moveToHomeButton" class="btn btn-secondary mb-2 me-2">Move to Home Position</button>
                                        <button id="ender3-moveToStageButton" class="btn btn-secondary mb-2 me-2">Move to Stage Position</button>
                                        <button id="ender3-moveEjectBedButton" class="btn btn-secondary mb-2 me-2">Eject Bed</button>
                                        <button id="ender3-homeButton" class="btn btn-secondary mb-2">Home Ender3</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Arduino Control Card -->
                        <div class="col-md-6 mb-3">
                            <div class="card" style="height: 100%">
                                <div class="card-body">
                                    <h4>Arduino Control</h4>
                                    
                                    <!-- Arduino Gripper Controls -->
                                    <div class="mb-3">
                                        <h5>Gripper Control</h5>
                                        <button id="arduino-gripper-open" class="btn btn-primary me-2">Open Gripper</button>
                                        <button id="arduino-gripper-close" class="btn btn-danger">Close Gripper</button>
                                    </div>
                                    
                                    <!-- Arduino Linear Rail Controls -->
                                    <div class="mb-3">
                                        <h5>Linear Rail Control</h5>
                                        <button id="arduino-linrail-move-up" class="btn btn-success me-2">Move Up</button>
                                        <button id="arduino-linrail-move-down" class="btn btn-warning me-2">Move Down</button>
                                        <button id="arduino-linrail-home" class="btn btn-info">Home</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <!-- <script src="/static/js/app.js"></script> -->


</body>

</html>